@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4" style="background-color: rgba(255, 255, 255, 0); border: none;">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> 
        @* чтобы убрать плашку с текстом "About" в верхнем углу страницы можно удаить этот div *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>